#  Example ProteusQ Dummy configuration file.
#  ==========================================
#  Make a local copy of this configuration file, e.g.
#       proteusq_dummy_config_local.cfg
#  and adapt all the path settings in this configuration file, to be specific,
#  adapt the following entries:
#       extensions
#       afm_scanner_logic
#       savelogic
#
global:
    # list of modules to load when starting
    startup: ['man', 'tray']

    module_server:
        address: 'localhost'
        port: 12345

    ## For controlling the appearance of the GUI:
    stylesheet: 'qdark.qss'

    extensions:
        # ADAPT THIS LOCATION TO YOUR PERSONAL PATH IF NECESSARY
        - ''

hardware:

    laser_dummy:
        module.Class: 'laser.simple_laser_dummy.SimpleLaserDummy'

    # spm_dummy:
    #     module.Class: 'spm.spm_dummy.SPMDummy'
    
    spm:
        module.Class: 'spm.spm_asc500.SPM_ASC500'
        sync_in_timeout:  0 # in ms
    
    time_tagger:
        module.Class: 'timetagger_counter.TimeTaggerCounter'
        timetagger_channel_apd_0: 1

        pixelclock_begin_chn: 2
        pixelclock_click_chn: 1
        pixelclock_end_chn: 3

    # counter_dummy:
    #     module.Class: 'slow_counter_dummy.SlowCounterDummy'
    #     source_channels: 1
    #     clock_frequency: 100
    #     count_distribution: 'dark_bright_poisson'
    #     remoteaccess: True

    odmr_counter_dummy:
        module.Class: 'odmr_counter_dummy.ODMRCounterDummy'
        clock_frequency: 100
        number_of_channels: 1
        connect:
            fitlogic: 'fitlogic'

    microwave_dummy:
        module.Class: 'microwave.mw_source_dummy.MicrowaveDummy'
        gpib_address: 'dummy'
        gpib_timeout: 20

    confocalscanner_dummy:
        module.Class: 'confocal_scanner_dummy.ConfocalScannerDummy'
        clock_frequency: 100
        connect:
            fitlogic: 'fitlogic'
    
    pulsestreamer:
        module.Class: 'swabian_instruments.pulse_streamer.PulseStreamer'
        pulsestreamer_ip: '129.69.46.68'
        #pulsed_file_dir: 'C:\\Software\\pulsed_files'
        laser_channel: 0

        uw_x_channel: 1
        use_external_clock: False
        external_clock_option: 0

        pixel_start: 1
        pixel_stop: 2
        sync_in: 3
    
    # magnet:
    #     module.Class: 'magnet.APS100_magnet.Magnet'
    #     magnet_port: 4444
    #     magnet_address_zx: 'COM8'
    #     magnet_address_y: '129.69.46.186'
    #     magnet_waitingtime: 0.01 # in seconds
    #     magnet_x_constr: 1e-3
    #     magnet_y_constr: 1e-3
    #     magnet_z_constr: 1e-3
    #     magnet_rho_constr: 1e-3

logic:


    afm_scanner_logic:
        module.Class: 'afm_confocal_logic.AFMConfocalLogic'
        # ADAPT THIS LOCATION TO YOUR PERSONAL PATH
        meas_path: 'C:\\Data\\ProteusQ_Data'
        connect:
            spm_device: 'spm'
            #spm_device: 'spm' 
            savelogic: 'savelogic'
            counter_device: 'time_tagger'
            #counter_device: 'mq'
            counter_logic: 'counterlogic'
            fitlogic: 'fitlogic'
            pulser: pulsestreamer

    kernellogic:
        module.Class: 'jupyterkernel.kernellogic.QudiKernelLogic'
        remoteaccess: True

    counterlogic:
        module.Class: 'counter_logic.CounterLogic'
        connect:
            counter1: 'time_tagger'
            #counter1: 'mq'
            savelogic: 'savelogic'

    odmrlogic:
        module.Class: 'odmr_logic.ODMRLogic'
        connect:
            odmrcounter: 'odmr_counter_dummy'
            #odmrcounter: 'mq'
            fitlogic: 'fitlogic'
            microwave1: 'microwave_dummy'
            #microwave1: 'mq'
            savelogic: 'savelogic'
            #taskrunner: 'tasklogic'
        scanmode: 'LIST'

    fitlogic:
        module.Class: 'fit_logic.FitLogic'

    savelogic:
        module.Class: 'save_logic.SaveLogic'
        # ADAPT THIS LOCATION TO YOUR PERSONAL PATH
        win_data_directory: 'C:\\Data\\Qudi_Data'
        unix_data_directory: 'Data/'
        log_into_daily_directory: True

    ooplogic:
        module.Class: 'oop_logic.OOPLogic'
        connect:
            #laser: 'laser_dummy'
            laser_conn: 'laser_dummy'
            counter_logic: 'counterlogic'
            savelogic: 'savelogic'
            fitlogic: 'fitlogic'
            odmrlogic: 'odmrlogic'
            afm_scanner_logic: 'afm_scanner_logic'

    tasklogic:
        module.Class: 'taskrunner.TaskRunner'
        tasks:
            scannerLocationRefocus:
                module: 'refocus'
        #        preposttasks: ['fliplasermirror']
                pausetasks: ['scan', 'odmr']
                needsmodules:
                    optimizer: 'optimizerlogic'

    optimizerlogic:
        module.Class: 'optimizer_logic.OptimizerLogic'
        connect:
            confocalscanner1: 'scanner_tilt_interfuse'
            fitlogic: 'fitlogic'

    scanner_tilt_interfuse:
        module.Class: 'interfuse.scanner_tilt_interfuse.ScannerTiltInterfuse'
        connect:
            confocalscanner1: 'confocalscanner_dummy'
    
    magnet_logic:
        module.Class: 'magnet_vector_logic.MagnetLogic'
        connect:
            magnetstage: 'magnet'
            optimizerlogic: 'optimizerlogic'
            counterlogic: 'counterlogic'
            odmrlogic: 'odmrlogic'
            savelogic: 'savelogic'
            scannerlogic: 'afm_scanner_logic'
            traceanalysis: 'trace_analysis_logic'
            gatedcounterlogic: 'gatedcounterlogic'
            sequencegeneratorlogic: 'sequencegeneratorlogic'

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'

    qafm_gui:
        module.Class: 'qafm.qafm_gui.ProteusQGUI'
        connect:
            qafmlogic: 'afm_scanner_logic'

    counter:
        module.Class: 'counter.countergui.CounterGui'
        connect:
            counterlogic1: 'counterlogic'

    odmr:
        module.Class: 'odmr.odmrgui.ODMRGui'
        connect:
            odmrlogic1: 'odmrlogic'
            savelogic: 'savelogic'
    
    magnet:
        module.Class: 'magnet.magnet_vector_gui.MagnetGui'
        connect:
            magnetlogic1: 'magnet_logic'
            savelogic: 'savelogic'
